pibicvenv


DadosMetamodelagem.csv
DadosMetamodelagemX2.csv
DadosMetamodelagemX1.csv
DadosMetamodelagemY1.csv
DadosMetamodelagemX1.csv
DadosMetamodelagemY2
DadosMetamodelagemY1.csv
DadosMetamodelagemX1.csv
DadosMetamodelagemY1.csv
DadosMetamodelagemX1.csv
rna_rscv_best_params.xlsx
rscv_best_params.xlsx
rscv_param.xlsx
simulation_opt_abs.xlsx
time_model_predict.xlsx
x_opt_results3.pkl
simulation_opt_results3.pkl
relative_error_df.json
otimizacao.ipynb
optuna_params.xlsx
opt_results3.pkl
models.pkl
models_parameters.json
models_features_selected.json
learning_curves_dict.pickle
learning_curve.json
learning_curve_excel.xlsx
DwsimOPT.ipynb
DadosMetamodelagemY5.csv
DadosMetamodelagemY4.csv
DadosMetamodelagemX5
DadosMetamodelagemX4.csv
cv_scores.xlsx
Dados.ipynb
cv_scores.json